@model IEnumerable<vidly.Models.Customer>

@{
    ViewBag.Title = Model;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Customers</h2>
<input type="button" value="Create New Customer" class="btn btn-primary" onclick="location.href='@Url.Action("formView", "Customer")'" />


    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.name.ToString(), "edit", "Customer", new { id = customer.Id }, null)</td>
                    <td>@customer.membershipType.discountRate</td>
                    <td>@customer.membershipType.membershipTypeName</td>
                    <td><button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button></td>
                </tr>
            }*@
        </tbody>
    </table>



@section scripts{
    <script>
        $(document).ready(function () {
            $("#customers").dataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc:""
                },
                columns: [{
                    data: "name",
                    render: function (data, type, customer) {
                        return "<a href='/customer/edit/" + customer.Id + "'>" + customer.name + "</a>";
                         }

                    },
                    {
                    data:"name"
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }

                ]




            });
            $("#customers").on("click",".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure want to delete", function (result) {

                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + $(button).attr("data-Customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });

                    }
                });
               
            });
        });
    </script>



}