@model vidly.ViewModels.NewMovieViewModel


@{
    /**/

    ViewBag.Title = "formMovieView";
}

<h2>New Movie</h2>

@using (Html.BeginForm("save", "Movies"))//this function automatically creates a  dBisposable object form
{



    <div class="form-group">
        <label for="name">Name</label>
        @Html.TextBoxFor(m => m.Movie.name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.name)
    </div>
    <div class="form-group">
        <label for="releaseDate">Released Date</label>
        @Html.TextBoxFor(m => m.Movie.releaseDate, "{0:d-MMM-yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.releaseDate)
    </div>



    <div class="form-group">
        <label for="StockNo">Stocks in no.</label>
        @Html.TextBoxFor(m => m.Movie.StockNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.StockNo)
    </div>


    <div class="form-group">
        <label for="genreId">Genre</label>
        @*Initialization of drop down list*@
        @Html.DropDownListFor(m => m.Movie.genre_Id,
         new SelectList(@Model.Genres,"Id","GenreName"),
         "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.genre_Id)
    </div>
    @Html.HiddenFor(m => m.Movie.dateAdded, new { @Value = DateTime.Now.ToShortDateString() })
    @Html.HiddenFor(m => m.Movie.id);
    <button type="Submit" class="btn btn-primary">Save</button>
}